{% extends 'user_base.html' %}
 {% block qu1 %}
        <title>商品列表</title>
     <script>
        $(function () {
            $('.sort_bar').delegate('a','click',function () {
                $(this).addClass('active').siblings().removeClass('active');
            })
        })
     </script>
    {% endblock qu1 %}
{% block qu3 %}

	<div class="search_bar clearfix">
		<a href="/" class="logo fl"><img src="/static/img/logo.png"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="#" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl">1</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="#" class="fruit">新鲜水果</a></li>
					<li><a href="#" class="seafood">海鲜水产</a></li>
					<li><a href="#" class="meet">猪牛羊肉</a></li>
					<li><a href="#" class="egg">禽类蛋品</a></li>
					<li><a href="#" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="#" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="/">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="/">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{ type.ttitle }}</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for good in tlist %}
                    <li>
						<a href="/{{ good.id }}/"><img src="/static/{{ good.gpic }}"></a>
						<h4><a href="#">{{ good.gtitle }}</a></h4>
						<div class="prize">￥{{ good.gprice }}</div>
					</li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="/list{{ type.id }}_1_1/" class="{{ act1 }}">默认</a>
				<a href="/list{{ type.id }}_1_2/?desc={%if desc == '1'%}0{%else%}1{%endif%}" class="{{ act2 }}">价格</a>
				<a href="/list{{ type.id }}_1_3/" class="{{ act3 }}">人气</a>
			</div>

			<ul class="goods_type_list clearfix">
                {% for goods in list %}
				<li>
					<a href="/{{ goods.id }}/"><img src="/static/{{ goods.gpic }}"></a>
					<h4><a href="/{{ goods.id }}/">{{ goods.gtitle }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ goods.gprice }}</span>
						<span class="unit">{{ goods.gprice }}/{{ goods.gunit }}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
                {% endfor %}
            </ul>
			<div class="pagenation">
                    <a href="/list{{ type.id}}_1_{{ sid }}/?desc={{ desc }}">首页</a>
                    {% if list.has_previous%}
                    <a href="/list{{ type.id}}_{{ list.number|add:-1 }}_{{ sid }}/?desc={{ desc }}"><上一页</a>
                    {% endif %}
                    {% if list.paginator.num_pages < 5 %}
                        {% for pindex in list.paginator.page_range %}
                        {% if pindex == list.number %}
                        <a href="#" class="active">{{ pindex }}</a>
                        {% else %}
                        <a href="/list{{ type.id }}_{{ pindex }}_{{ sid }}/?desc={{ desc }}">{{ pindex }}</a>
                        {% endif %}
                        {% endfor %}
                    {% else %}
                        {% if list.number == 1 %}
                            <a href="#" class="active">1</a>
                            <a href="/list{{ type.id}}_{{ list.number|add:1 }}_{{ sid }}/?desc={{ desc }}" >2</a>
                            <a href="/list{{ type.id}}_{{ list.number|add:2 }}_{{ sid }}/?desc={{ desc }}" >3</a>
                            <a href="/list{{ type.id}}_{{ list.number|add:3 }}_{{ sid }}/?desc={{ desc }}" >4</a>
                            <a href="/list{{ type.id}}_{{ list.number|add:4 }}_{{ sid }}/?desc={{ desc }}" >5</a>
                        {% elif list.number == 2 %}
                            <a href="/list{{ type.id}}_{{ list.number|add:-1 }}_{{ sid }}/?desc={{ desc }}" >1</a>
                            <a href="#" class="active">2</a>
                            <a href="/list{{ type.id}}_{{ list.number|add:1 }}_{{ sid }}/?desc={{ desc }}" >3</a>
                            <a href="/list{{ type.id}}_{{ list.number|add:2 }}_{{ sid }}/?desc={{ desc }}" >4</a>
                            <a href="/list{{ type.id}}_{{ list.number|add:3 }}_{{ sid }}/?desc={{ desc }}" >5</a>
                        {% elif list.number == list.paginator.num_pages %}
                            <a href="/list{{ type.id}}_{{ list.number|add:-4 }}_{{ sid }}/?desc={{ desc }}" >{{ list.number|add:-4 }}</a>
                            <a href="/list{{ type.id}}_{{ list.number|add:-3 }}_{{ sid }}/?desc={{ desc }}" >{{ list.number|add:-3 }}</a>
                            <a href="/list{{ type.id}}_{{ list.number|add:-2 }}_{{ sid }}/?desc={{ desc }}" >{{ list.number|add:-2 }}</a>
                            <a href="/list{{ type.id}}_{{ list.number|add:-1 }}_{{ sid }}/?desc={{ desc }}" >{{ list.number|add:-1 }}</a>
                            <a href="/list{{ type.id}}_{{ list.number }}_{{ sid }}/?desc={{ desc }}" class="active">{{ list.number }}</a>
                        {% elif list.number == list.paginator.num_pages|add:-1 %}
                            <a href="/list{{ type.id}}_{{ list.number|add:-3 }}_{{ sid }}/?desc={{ desc }}" >{{ list.number|add:-3 }}</a>
                            <a href="/list{{ type.id}}_{{ list.number|add:-2 }}_{{ sid }}/?desc={{ desc }}" >{{ list.number|add:-2 }}</a>
                            <a href="/list{{ type.id}}_{{ list.number|add:-1 }}_{{ sid }}/?desc={{ desc }}" >{{ list.number|add:-1 }}</a>
                            <a href="/list{{ type.id}}_{{ list.number }}_{{ sid }}/?desc={{ desc }}" class="active">{{ list.number }}</a>
                            <a href="/list{{ type.id}}_{{ list.number|add:1 }}_{{ sid }}/?desc={{ desc }}" >{{ list.number|add:1 }}</a>
                        {% else %}
                            <a href="/list{{ type.id}}_{{ list.number|add:-2 }}_{{ sid }}/?desc={{ desc }}" >{{ list.number|add:-2 }}</a>
                            <a href="/list{{ type.id}}_{{ list.number|add:-1 }}_{{ sid }}/?desc={{ desc }}" >{{ list.number|add:-1 }}</a>
                            <a href="/list{{ type.id}}_{{ list.number }}_{{ sid }}/?desc={{ desc }}" class="active">{{ list.number }}</a>
                            <a href="/list{{ type.id}}_{{ list.number|add:1 }}_{{ sid }}/?desc={{ desc }}" >{{ list.number|add:1 }}</a>
                            <a href="/list{{ type.id}}_{{ list.number|add:2 }}_{{ sid }}/?desc={{ desc }}" >{{ list.number|add:2 }}</a>
                        {% endif %}
                    {% endif %}
                    {% if list.has_next %}
                    <a href="/list{{ type.id}}_{{ list.number|add:1 }}_{{ sid }}"><下一页</a>
                    {% endif %}
                    <a href="/list{{ type.id}}_{{ list.paginator.num_pages }}_{{ sid }}/?desc={{ desc }}">末页</a>
			</div>
		</div>
	</div>
    {% endblock qu3 %}